$primary:#FF3E00;
$secondary1:#6400FF;
$secondary3:white;
$secondary2:#FDCF12;
$greenbutton:#00FF68;
$greenbutton-hold:#0E3B2F;
$redbutton:#FF2626;
$redbutton-hold:#471010;
$yellowbutton:#BB9804;
$yellowbutton-hold:#4F4105;
