$primary:#5800FF;
$secondary1:#0096FF;
$secondary3:white;
$secondary2:#72FFFF;
$greenbutton:#00FF68;
$greenbutton-hold:#0E3B2F;
$redbutton:#FF2626;
$redbutton-hold:#471010;
$yellowbutton:#BB9804;
$yellowbutton-hold:#4F4105;
