$primary:#FFF338;
$secondary1:#0CECDD;
$secondary3:#FF67E7;
$secondary2:#C400FF;
$greenbutton:#00FF68;
$greenbutton-hold:#0E3B2F;
$redbutton:#FF2626;
$redbutton-hold:#471010;
$yellowbutton:#BB9804;
$yellowbutton-hold:#4F4105;
